/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: defaults
*/

:root {
	--color-base-1: #080b12;
	--color-base-2: #111625;
	--color-base-3: #291427;
	--color-text: #fff;
	--color-primary: #f4cae0;
	--color-secondary: #64a6bd;

	--font-size-base: 1rem;
	--font-size-lg: 2rem;
	--font-size-xl: 3rem;

	--font-weight-min: 200;
	--font-weight-max: 900;

	--max-width: 32rem;

	--transition-duration: .5s;
}

::-moz-selection {
	color: var(--color-base-1);
	background: var(--color-primary);
}

::selection {
	color: var(--color-base-1);
	background: var(--color-primary);
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Source Code Pro", "Andale Mono", "Consolas", "Monaco",
		"Lucida Console", monospace;
	color: var(--color-text);
	background: var(--color-base-2);
	background: radial-gradient(
		circle at top,
		var(--color-base-3),
		var(--color-base-1)
	);
}

em {
	font-size: var(--font-size-xl);
	font-style: normal;
}

main {
	display: flex;
	flex-direction: column;
	padding: 5vh 0;
	align-items: center;
}

section {
	max-width: var(--max-width);
}

.showcase {
	font-size: var(--font-size-lg);
}

.showcase > * {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 1%;
	border: 0px solid;
	font-weight: var(--font-weight-min);
	transition: var(--transition-duration);
	cursor: default;
}

.showcase > *:hover,
a:hover {
	font-weight: var(--font-weight-max);
}

h1:hover {
	color: var(--color-primary);
	border-left: 1vw solid var(--color-primary);
	border-right: 1vw solid var(--color-primary);
}
h2:hover {
	color: #d7b9d5;
	border-left: 2vw solid #d7b9d5;
	border-right: 2vw solid #d7b9d5;
}
h3:hover {
	color: #ada7c9;
	border-left: 4vw solid #ada7c9;
	border-right: 4vw solid #ada7c9;
}
h4:hover {
	color: #90a8c3;
	border-left: 8vw solid #90a8c3;
	border-right: 8vw solid #90a8c3;
}
h5:hover {
	color: var(--color-secondary);
	border-left: 16vw solid var(--color-secondary);
	border-right: 16vw solid var(--color-secondary);
}
h6:hover {
	border-left: 32vw solid;
	border-right: 32vw solid;
}

a:link {
	color: var(--color-primary);
	transition: var(--transition-duration);
}

a:visited {
	color: var(--color-secondary);
}
a:active {
	color: var(--color-text);
}
